<div style="padding: 20px;">
<div class="row">
    <div class="col-md-6">
        <h3 class="title">View: {{currentView}}</h3></div>
    <div class="col-md-6" style="text-align: right;line-height:56px;">
        <a ng-click="newUser()" class="btn btn-primary">New</a>
    </div>
</div>

<div class="row headerTable">
    <div class="col-md-3" style="padding:10px 10px 10px 30px">Id</div>
    <div class="col-md-2" style="padding:10px 10px 10px 30px">Name</div>
    <div class="col-md-3" style="padding:10px 10px 10px 30px">Email</div>
    <div class="col-md-1" style="padding:10px 10px 10px 30px">Status</div>
    <div class="col-md-1" style="padding:10px 10px 10px 30px">Age</div>
    <div class="col-md-1" style="padding:10px 10px 10px 30px">Posts</div>
    <div class="col-md-1" style="padding:10px 10px 10px 30px"></div>
</div>


<div class="row alternover" ng-repeat="User in Users">
    <div class="col-md-3" style="padding:10px 10px 10px 30px"><a ng-click="openUser(User._id)">{{User._id}}</a></div>
    <div class="col-md-2" style="padding:10px 10px 10px 30px">{{User.name}}</div>
    <div class="col-md-3" style="padding:10px 10px 10px 30px">{{User.email}}</div>
    <div class="col-md-1" style="padding:10px 10px 10px 30px">{{showStatus(User.status)}}</div>
    <div class="col-md-1" style="padding:10px 10px 10px 30px">{{User.age}}</div>
    <div class="col-md-1" style="padding:10px 10px 10px 30px">{{showPosts(User.posts)}}</div>
    <div class="col-md-1" style="padding:5px 10px;text-align:right;">
        <a class="btn btn-danger" href="" ng-click="deleteUser(User._id)">X</a>
    </div>
</div>
</div>


