<div style="padding: 20px;">

    <div class="col-md-9">
        COOL FOOL IMAGE
    </div>
    <div class="col-md-3" style="padding-top: 40px;margin-left: auto;margin-right: auto;display: block;">
        <h1>Forgot Password.</h1>
        <div style="padding:25px;border:solid 1px #0B6C29;border-radius: 15px;">
            <form method="post">

                <div class="form-group">
                    <label >Email</label>
                    <input type="email" class="form-control" ng-model="ForgotPassword.email">
                </div>

                <a class="btn btn-primary" ng-click="submitForgotPassword()">Submit</a>

            </form>
        </div>

    </div>
</div>


